@import '~bootstrap/scss/bootstrap';

body {
  background-color: #9B77CE
}

.footLink {
  text-align: center;
}

.logoimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  height: 92px;
  width: 92px;
}
